.Navbar {
    &__item {
        color: #FFFFFF;
        margin: 0 6px;
        cursor: pointer;
        text-decoration: none;
    }

    &__item:hover {
        border-bottom: 1px solid #FFFFFF;
    }
}