.Navbar {
    &__item {
        color: 	#ccf9ff;
        margin: 0 6px;
        cursor: pointer;
        text-decoration: none;
        transition: box-shadow 0.25s, color 0.25s;
    }

    &__item:hover {
        color: #55d0ff;
        box-shadow: #00acdf 0px 3px,
                    #55d0ff 0px 5px, 
                    #7ce8ff 0px 8px;
                    
    }
}